<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

        <nav class="navbar navbar-light bg-light">
            <div class="container d-inline">
            <a class="navbar-brand mb-0" href="{{ url_for('index') }}">ArchieBot</a>
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" type="button" href="{{ url_for('add_event') }}">Add Event</a>
            </div>
        </nav>

        {% endblock %}

        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
