{% extends "base.html" %}

{% block title %}ArchieBot - Welcome{% endblock %}

{% block content %}
<div class="container">
    <h4>Good {{ time_of_day }}, {{ user.username }}</h4>
    <h5>{{ today }}</h5>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% for event in events %}
        {% include 'partials/event_item.html' %}
    {% endfor %}
</div>
{% endblock %}