{% extends "base.html" %}

{% block title %}Welcome to ArchieBot{% endblock %}

{% block content %}
<div class="container">
    <h1>Good {{ time_of_day }}, {{ user.username }}</h1>
        {% for dog in data %}
        <ul class="list-inline">
            <li class="list-inline-item"><h2>{{ dog.name }} </h2></li>
            <li class="list-inline-item"><h3>{{ today }}</h3></li>
            <li class="list-inline-item"><a class="btn btn-primary" href="{{ url_for('add_event') }}" role="button">Add Event</a></li>
        </ul>
        {% for event in data[dog] %}
            {% include 'partials/event_item.html' %}
        {% endfor %}
    {% endfor %}
</>
{% endblock %}