input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pee, .poop {
    background-color: #FEFFBF;
}

.eat, .medicine, .clomipramine, .trifexis {
    background-color: #B5EABC;
}

.walk, .play, .training {
    background-color: #FFDAC1;
}

.bath, .groom {
    background-color: #C7CEEA;
}

.event_shadow {
  box-shadow: 0 0 10px #ccc;
}